<%content_for :head do%>
	<%= stylesheet_link_tag "pesquisa.css" %>
<%end%>

    <div id='article'>
    	<div id='a_text'>
        	<%= image_tag("tit_encontre.png")%>
            <p>Selecione no formulário abaixo as opções que correspondem com o perfil do profissional que você procura.</p>
        </div>
    	<div id='a_content1'>
        	<form>
                <select name="cidade" tabindex="1" class="cidade dk"><br />
                	<option value="">cidade</option>
                	<option value="atibaia">atibaia</option>
                	<option value="bored">piracaia</option>
                	<option value="surprised">piracaia</option>
                </select>               
                <select name="categoria" tabindex="1" class="categoria dk"><br />
                	<option value="">categoria</option>
                	<option value="bbb">bbb</option>
                	<option value="ccc">ccc</option>
                	<option value="ddd">ddd</option>
                    <option value="eee">eee</option>
                </select>
                <select name="area" tabindex="1" class="area dk"><br />
                	<option value="">área de especialidade</option>
                	<option value="bbb">bbb</option>
                	<option value="ccc">ccc</option>
                	<option value="ddd">ddd</option>
                    <option value="eee">eee</option>
                </select>
                <select name="disponibilidade" tabindex="1" class="disponibilidade dk">
                	<option value="">disponibilidade</option>
                	<option value="bbb">bbb</option>
                	<option value="ccc">ccc</option>
                	<option value="ddd">ddd</option>
                    <option value="eee">eee</option>
                </select>
                <%= link_to image_tag("bt_pesquisar.png", :style => "float:right;"),"#"%>
            </form>
        </div>
        <div id='a_content2'>
        	<%= image_tag("tit_resultados.png")%>
                <div id="box_resultado">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br />
    In convallis magna eget augue luctus sit amet feugiat ipsum euismod. Fusce euismod, turpis ut bibendum rhoncus, libero mauris dapibus est, quis elementum nisi diam non arcu.<br />Curabitur congue dictum turpis, vel tincidunt enim adipiscing vel. Sed pulvinar aliquam risus, vitae aliquet mauris convallis vel. <br />
                    <%= link_to image_tag("bt_contato.png", :class =>"bt_contato fancybox"), "pesquisalightbox.html"%>
                </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    
